.collection {
    margin: 0.5rem 0 4rem 0;
    border: 0;
    overflow: visible;
}

.collection .collection-item {
  background-color: #F7F7F7;
  margin-bottom: 2px;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  float: initial;
  position: relative;
  border-bottom: 4px solid #FFFFFF;
  display: block;
}

.collection-item .chip {
  margin: 0 1px 2px;
}

.collection-item-private-icon {
  float: none;
      font-size: inherit;
      left: 0px;
      top: 0px;
      opacity: 0.3;
      position: relative;

      font-size: inherit;
      left: -16px;
      top: 16px;
      opacity: 1;
      position: absolute;

}

.collection-item-private-icon i {
  background-color: #F7F7F7;
}